@font-face {
  font-family: 'Merriweather';
  src: local('Merriweather'), url(./fonts/Merriweather-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Quicksand';
  src: local('Quicksand'), url(./fonts/Quicksand-Light.ttf) format('truetype');
}

body {
  margin: 0;
  text-align: center;
}

.main {
  width: 70vw;
  margin: auto;
}

.frame {
  display:flex;
  justify-content: space-evenly;
  height:60vh;
}

.formField {
  font-size: 17px;
  font-family: 'Merriweather';
  color:white;
  margin-top:3%;
}

.inputField {
  width:45%;
  height:45%;
  padding:3%;
  margin-top:11%;
  background-color:white;
  border-radius: 7%;
  position:relative;
  font-family: 'Quicksand';
  font-weight:bold;
  font-size: 25px;
  outline: none;
  resize: none
}

.chatField {
  width:45%;
  height:45%;
  padding:3%;
  margin-top:11%;
  background-color:rgb(255, 255, 255);
  border-radius:7%;
  position:relative;
  font-family: 'Quicksand';
  color:#A44565;
  box-shadow:3px 3px 5px #DFAE8D;
}

.textInfo {
  width:40%;
  height:50%;
  background-color:rgb(255, 255, 255);
  border-radius:5%;
  margin-left:5%;
  margin-top:5%;
}

h1 {
  color: #A44565;
  font-size: 57px;
  font-family: 'Merriweather';
  letter-spacing: normal;
  transition: 0.3s; 
}

h1:hover {
  letter-spacing: 10px;
  transition-duration: 0.6s;
}

.results {
  font-size: 37px;
  font-family: 'Merriweather';
}

button {
  margin: 0 auto;
  font-family: 'Merriweather';
  background-color: #C7C690;
  color:#2e1e08;
  padding: 16px;
  font-size: 24px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}