@font-face {
  font-family: 'Merriweather';
  src: local('Merriweather'), url(./fonts/Merriweather-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Quicksand';
  src: local('Quicksand'), url(./fonts/Quicksand-Light.ttf) format('truetype');
}

body {
  margin: 0;
  text-align: center;
}

.mainMain {
  width:100vw;
  height:100vh;
}

.main {
  width: 100vw;
  height:70%;
  margin-top:-5%;
  display: flex;
  justify-content: start;
}

.aiSide {
  display: flex;
  flex-direction:column;
  width:50%;
}

.humanSide {
  display: flex;
  flex-direction:column;
  width:50%;
}

.generateButton {
  margin-top:5%;
  margin-left:37%;
  padding:3%;
}

.submitButton {
  margin-left:40%;
  margin-bottom: 20%;
  padding:3%;
}

.formField {
  font-size: 17px;
  font-family: 'Merriweather';
  color:black;
  margin-top:2%;
  width:70%;
}

.formField {
  width:100%;
  height:100%;
}

.inputField {
  width:65%;
  height:55%;
  padding:3%;
  margin-top:8%;
  background-color:white;
  border-radius: 7%;
  font-family: 'Quicksand';
  font-weight:bold;
  font-size: 25px;
  outline: none;
  resize: none;
  box-shadow:3px 3px 5px #DFAE8D;
  border-color: #946422;
}

.chatField {
  width:70%;
  height:30%;
  padding:3%;
  margin-top:11%;
  margin-left:10%;
  background-color:rgb(255, 255, 255);
  border-radius:7%;
  position:relative;
  font-family: 'Quicksand';
  color:#A44565;
  box-shadow:3px 3px 5px #DFAE8D;
  font-size:100%;
}

.textInfo {
  width:40%;
  height:50%;
  background-color:rgb(255, 255, 255);
  border-radius:5%;
  margin-left:5%;
  margin-top:5%;
}

h1 {
  color: #A44565;
  font-size: 57px;
  font-family: 'Merriweather';
  letter-spacing: normal;
  transition: 0.3s; 
  text-align: center;
}

h1:hover {
  letter-spacing: 10px;
  transition-duration: 0.6s;
}

.results {
  font-size: 37px;
  font-family: 'Merriweather';
}

button {
  margin: 0 auto;
  font-family: 'Merriweather';
  background-color: #C7C690;
  color:#2e1e08;
  padding: 16px;
  font-size: 24px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.results1 {
  color:rgb(112, 73, 21);
  font-family:"Merriweather";
  font-size:200%;
  position:absolute;
  top:64%;
  left:32%;
  text-align: center;
}