@font-face {
  font-family: 'Merriweather';
  src: local('Merriweather'), url(../fonts/Merriweather-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Quicksand';
  src: local('Quicksand'), url(../fonts/Quicksand-Light.ttf) format('truetype');
}

.frame {
  display:flex;
  justify-content: space-evenly;
  height:60vh;
}

.formField {
  background-color:brown;
}

.inputField {
  margin-top:5%;
  width:30vw;
  height:80%;
  border:20px;
  position:relative;
}


.chatField {
  width:45%;
  height:45%;
  padding:3%;
  margin-top:5%;
  background-color:white;
  border-radius:7%;
  position:relative;
  font-family: 'Quicksand';
  font-size:150%;
  color:rgb(26, 102, 194);
  box-shadow:10px 10px 10px;
}
